    
  <div id="cta">
    <h1>Hello There!</h1>
    <p>Sign up to Deeno Weekly. Deeno Weekly is my weekly newsletter where i update people about my projects, short stories, basically my journey through life. You get to be the first to hear about my upcoming projects and be among the first ones to test them out as well. So what are you waiting for...</p>
    <a href="https://famous-cow-earmuffs.cyclic.app" target="_blank" class="btn btn-dark">Sign Up</a>
  </div>

    <!-- footer  -->


<footer>
    <div id="link">
        <a href="https://www.linkedin.com/in/nwando-ifezue-979a99273/" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-linkedin " style="color: #ffffff; padding: 10px;"></i> </a>

        <a href="https://www.fiverr.com/nwandoifezue?source=gig_page" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-fonticons-fi" style="color: #ffffff; padding: 10px;"></i></a>
    
        <a href="https://github.com/thekingdeeno" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-github" style="color: #ffffff; padding: 10px;"></i> </a>
    
        <a href="mailto:nwandoifezue@gmail.com" target="_blank"><i class="fa-lg fa-solid fa-envelope" style="color: #ffffff; padding: 10px;"></i></a>
    </div>
    <br>
    <p>Made by <a href="http://linktr.ee/nwandoifezue" target="_blank">Nwando Ifezue</a></p>

</footer>




    <!-- bootstrap link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src=""></script>
</body>
</html>